body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #174452; 
  overflow: hidden;
}

.customAlertOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.315);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
  }
  
  .customAlert {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 10rem;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .customAlert p {
    margin: 0 0 20px 0;
  }
  
  .customAlert button {
    background-color: #174452; 
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  
  }

  .customAlert button:hover {
    background-color: #174452; 
  }